<html>
  <head>
    <meta charset="UTF-8">
    <title> Online Class Streaming </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <title>Mod1</title>

  </head>
  <body>
  <body style="background-color:grey;">
  </br></br></br>
        <div align="center">
          <div align="center" class="double">
             <div class="header1">
                <h1 class="word">Online Class Streaming</h1>
             </div></br>
    <!--<div align="center" class="double">
    <h1 align="center">Online Class Streaming</h1>-->
    <img src="/static/przi.gif" alt="ppt" height=550 width=550/>    
    `<div class="container">
    <form action = "/button" method="post">
        <input type="submit" value="Leave Class" class='btn'>
    </form>    
 </div>`
 <img id="bg" align="right"  src="{{ url_for('video_feed') }}" height=200 width=400 margin='auto'>
  </body>
</html>
